@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.urbanist {
  font-optical-sizing: auto;
}

.inter {
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: #eaeced;
}
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui";
/*Banner Carousel with Swiper*/
.banner-carousel .swiper-pagination-bullet {
  height: 4px;
  width: 24px;
  border-radius: 4px;
  background-color: #035861;
  opacity: 30%;
}

.banner-carousel .swiper-pagination-bullet-active {
  height: 4px;
  width: 48px;
  border-radius: 4px;
  background-color: #035861;
  opacity: 100%;
}
.banner-carousel .swiper-pagination {
  bottom: 76px !important;
  left: 88px !important;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .banner-carousel .swiper-pagination {
    text-align: center;
    bottom: 0 !important;
    left: 0 !important;
  }
  .banner-carousel .swiper-pagination-bullet {
    height: 3px;
    width: 20px;
  }
  .banner-carousel .swiper-pagination-bullet-active {
    width: 36px;
  }
}

/*Review Section*/
.swiper {
  overflow: visible;
}

.swiper-slide {
  transition: transform 0.35s ease, opacity 0.35s ease;
}

/*Review carousel with swiper*/
.review-carousel .swiper-pagination {
  bottom: 44px !important;
  left: 48% !important;
  transform: translateX(-50%) !important;
}
.review-carousel .swiper-pagination-bullet {
  background-color: #94c6cb;
  opacity: 1;
  /* transform: scale(1) !important; to make all the bullets same*/
}
.review-carousel .swiper-pagination-bullet-active {
  background-color: #03373d !important;
  opacity: 1 !important;
}

/*Remove default cross button from search input*/
.hide-search-clear {
  &::-webkit-search-cancel-button {
    display: none;
    appearance: none;
  }
  &::-moz-search-cancel-button {
    display: none;
  }
  &::-ms-clear {
    display: none;
  }
}
