@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.urbanist {
  font-optical-sizing: auto;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: #eaeced;
}
@import "tailwindcss";
@plugin "daisyui";

.swiper .swiper-pagination-bullet {
  height: 4px;
  width: 24px;
  border-radius: 4px;
  background-color: #035861;
  opacity: 30%;
}

.swiper .swiper-pagination-bullet-active {
  height: 4px;
  width: 48px;
  border-radius: 4px;
  background-color: #035861;
  opacity: 100%;
}
.swiper .swiper-pagination {
  bottom: 76px !important;
  left: 88px !important;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .swiper .swiper-pagination {
    text-align: center;
    bottom: 0 !important;
    left: 0 !important;
  }
  .swiper .swiper-pagination-bullet {
    height: 3px;
    width: 20px;
  }
  .swiper .swiper-pagination-bullet-active {
    width: 36px;
  }
}
